body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

input[type="text"], input[type="submit"] {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#all{
    background-color: #45a049;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 50%;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}
select {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 30%;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>'); /* Custom arrow image */
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 20px;
}

select:hover {
    border-color: #999;
}

nav {
    background-color: #333; /* Background color */
    padding: 10px; /* Padding around the navigation menu */
}

/* Style for navigation links */
nav ul {
    list-style-type: none; /* Remove default list style */
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline; /* Display list items horizontally */
    margin-right: 20px; /* Spacing between list items */
}

nav ul li a {
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline */
    padding: 5px 10px; /* Padding around text */
}

nav ul li a:hover {
    background-color: #555; /* Background color on hover */
    border-radius: 4px; /* Rounded corners */
}

th {
    background-color: #daedff; /* Change to the color you want */
}
h3{
    color: brown;
}