<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Data</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Delete Data</h1>
    <form action="/delete_confirm" method="post">
        <input type="hidden" name="table_name" value="{{ table_name }}">
        {% for column in columns %}
            <label for="{{ column }}">{{ column }} to delete:</label><br>
            <input type="text" id="{{ column }}" name="{{ column }}"><br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</body>
</html>
